* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
  text-align: center;
  color: white;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  margin-top: 20px;
  height: 40vh;
  border-radius: 20px 20px;
  align-items: center;
}
